.menu {
    display: flex;
    justify-content: right;
}
.menu li {
    list-style: none;
    font-size: 2rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
.tab.active-t {
    color: dodgerblue;
}

@media (max-width: 805px) {

    .menu li {
        font-size: 1rem;
    }
}
