.profile-container {
    min-width: 350px;
    flex-basis: 27%;
    height: auto;
}
.imageProfile {
    width: 100%;
    margin-bottom: 1.2rem;
    background: #fff;
}
.imageProfile .ProfilePic {
    padding: 2rem;
    width: 100%;
}
.profile-content {
    padding: 2rem;
    background: #fff;
}
.profile-content p{
    font-size: 1.3rem;
}
.profile-content p span {
    font-weight: bold;
    margin-right: 1rem;
    color: dodgerblue;
}
 .profile-container.show {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
    display: block;
    z-index: 1000;
}


@media (max-width: 1260px) {
    .profile-container {
        display: none;
    }
}



