.skills {
    display: none; 
    height: 80vh;
    width: 100%;
}

.skills .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.skills .box-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.skills .box-content .box-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
    background: #fff;
}
.skills .box-content .box-item i {
    position: absolute;
    font-size: 10em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: crimson;
    z-index: 10;
    transition: .30s;
}
.skills .box-content .box-item .skillName {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    font-weight: 500;
    width: 100%;
    transition: .30s;
    z-index: 9;
}

.skills .box-content .box-item:nth-child(1) i{
    background: #ff5733;
}
.skills .box-content .box-item:nth-child(1) .skillName{
    color: #ff5733;
}
.skills .box-content .box-item:nth-child(1):hover i{
    font-size: 8rem;
    height: 80%;
    background: #fff;
    color: #ff5733;
}
.skills .box-content .box-item:nth-child(1):hover .skillName{
    color: #fff;
    background: #ff5733;
}
.skills .box-content .box-item:nth-child(2) i{
    background: #3091ff;
}
.skills .box-content .box-item:nth-child(2) .skillName{
    color: #3091ff;
}
.skills .box-content .box-item:nth-child(2):hover i{
    font-size: 8rem;
    height: 80%;
    background: #fff;
    color: #3091ff;
}
.skills .box-content .box-item:nth-child(2):hover .skillName{
    color: #fff;
    background: #3091ff;
}
.skills .box-content .box-item:nth-child(3) i{
    background: #ffc300;
}
.skills .box-content .box-item:nth-child(3) .skillName{
    color: #ffc300;
}
.skills .box-content .box-item:nth-child(3):hover i{
    font-size: 8rem;
    height: 80%;
    background: #fff;
    color: #ffc300;
}
.skills .box-content .box-item:nth-child(3):hover .skillName{
    color: #fff;
    background: #ffc300;
}
.skills .box-content .box-item:nth-child(4) i{
    background: #30c7ff;
}
.skills .box-content .box-item:nth-child(4) .skillName{
    color: #30c7ff;
}
.skills .box-content .box-item:nth-child(4):hover i{
    font-size: 8rem;
    height: 80%;
    background: #fff;
    color: #30c7ff;
}
.skills .box-content .box-item:nth-child(4):hover .skillName{
    color: #fff;
    background: #30c7ff;
}

.skills.active-c {
    display: block;
}

@media (max-width: 1400px) {
    .skills .box-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .skills .box-content .box-item {
        width: 150px;
        height: 150px;
    }
    .skills .box-content .box-item i {
        font-size: 5em;
    }
    .skills .box-content .box-item .skillName {
        font-size: 1em;
    }
    .skills .box-content .box-item:nth-child(1):hover i{
        font-size: 4rem;
    }
   
    .skills .box-content .box-item:nth-child(2):hover i{
        font-size: 4rem;
    }
    .skills .box-content .box-item:nth-child(3):hover i{
        font-size: 4rem;
    }
    .skills .box-content .box-item:nth-child(4):hover i{
        font-size: 4rem;
    }
}