.title {
    display: none;
}

.title .box-content {
    width: 100%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title .box-content .text-1 {
    font-size: 2em;
    font-weight: 800;
    color: #fff;
}
.title .box-content .text-1 span {
    color: deepskyblue;
    animation: aniText 5s linear infinite ;
}
.title .box-content .text-2 {
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
}
.title .box-content .text-2 span {
    color: deepskyblue;
    animation: aniText 5s linear infinite ;
    animation-delay: 1s;
}
@keyframes aniText {
        0% {
            color: #fff;
        }
        50% {
            color: deepskyblue;
        }
        100% {
            color: #fff;
        }
}
.title .box-content .text-3 {
    font-size: 3em;
    font-weight: 600;
    color: #fff;
}

.title.active-c {
    display: block;
}

@media (max-width: 1400px) {
    .title .box-content .text-2 {
        font-size: 4rem;
    }
}
@media (max-width: 805px) {
    .title .box-content .text-2 {
        font-size: 3rem;
    }
    .title .box-content .text-3 {
        font-size: 2rem;
    }
}
@media (max-width: 630px) {
    .title .box-content .text-2 {
        font-size: 2rem;
    }
    .title .box-content .text-3 {
        font-size: 1rem;
    }
}